*,body {
    margin: 0;
    padding: 0;
}


#container {
    display: inline-block;
    width:1366px;
    height: 120px;
    position: fixed;
    line-height: 80px;
    z-index: 1000;
    color:white;
    background-color: white;
    color:#404040;
/*    border-bottom: 2px solid #ccc;*/
}

#logo {
    width:35%;
    height:80px;
    display: inline-block;
    vertical-align: middle;
    float:left;
    transform: translateY(20%);
}

#logo:after {
    content: ' ';
    clear: both;
}


#menu {
    float:left;
    width: 65%;
    text-align: center;
    font-size: 2em;
    line-height: 120px;
    font-family: "Just Another Hand";
    
}


#menu:after {
    content: ' ';
    clear: both;
}


#menu li{
    display: inline-block;
    text-align: left;
    font-weight: bold;
}

.menu-icon,#cart {
    transition: all 0.6s ease-in-out;
}

.menu-title {
    
    position: relative;
    transition: all 0.6s ease-in-out;
}

.menu-title a {
    text-decoration: none;
    color:#404040;
}
.menu-title:after {
    opacity: 0;
    width:0;
    height:0;
    content: ' ';
    border:2px solid #ccc;
    width: 100%;
    position: absolute;
    top:75%;
    left:0%;
    transition: all 0.6s ease-in-out;
    transform: translateY(30px);
}

.menu-icon:hover,#cart:hover {
    color:#E77737;
    cursor:pointer;
}


#this-page:after {
    opacity: 1;
    transform: translateY(0);
    border:2px solid #E77737;
}
.menu-title:hover {
    color:#E77737;
    cursor:pointer;
}

.menu-title:hover:after{
    opacity: 1;
    transform: translateY(0);
    border:2px solid #E77737;
}

.menu-title, .menu-title-1 {
    margin-left: 30px;
    line-height: 2em;
}

.menu-title i,.menu-title-1 i {
    vertical-align: middle;
    transform: translateX(50%);
    font-size:0.5em;
}

.menu-icon {
    vertical-align: middle;
    transform: translateY(4%);
    font-size: 0.5em;
    padding-left: 10px;
}

#list-menu {
    position: relative;
}

.menu-title-1:hover .sub-menu {
    opacity: 1;
}

#list-menu:hover #index {
    cursor: pointer;
    color:#E77747;
}

#item-1 a{
    transition: all 0.6s ease-in-out;
}

.item-2 {
    transition: all 0.6s ease-in-out;
}

#item-1:hover >a {
    color:#E77747;
    cursor: pointer;
}

.menu-item-detail{
    transition: all 0.3s ease-in-out;
}



.menu-item-detail:hover {
    color:#E77747;
    cursor: pointer;
}

.item-2:hover {
    color:#E77747;
    cursor: pointer;
}

.sub-menu {
    background-color: #EBE1C3;
    position: absolute;
    top:100%;
    left:15%;
    width: 180px;
    line-height: 75%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}


.sub-menu li{
    margin-left: 20px;
    display: block;
    width:100%;
    font-weight:bold;
    font-size: 1.6rem;
}


.sub-menu ul li{
    font-size: 1.45rem;
    font-weight: normal;
    margin-left: 25px;
}


#cart {
    line-height: 20px;
    font-size: 0.8em;
    padding:7px 10px;
    margin-left:10px;
    background-color: #EBE1C3;
    border-radius: 5px;
    transform: translateY(10%);
}


#cart-photo {
    margin-right: 10px;
    font-size: 0.7em;
}

#slideshow-area {
    position: relative;
}

#slideshow {
    padding-top: 100px;
    display: block;
    width:100%;
}


#banner {
    font-family: 'Baloo Bhai', cursive;
    position: block;
    position: absolute;
    top:45%;
    left: 5%;
    
}


#banner h1{
    color:white;
    font-size:3em;
}

#banner h2 {
    padding: 1px;
    font-size: 2em;
    display: block;
    margin-bottom: 25px;
}

#button-show {
    color:white;
    padding:10px;
    background-color: #ED7638;
    outline: 2px solid orange;
    transition: all 1s ease-in-out;
    font-family: "Just Another Hand";
    font-size: 1.5em;
    text-decoration: none;  
}

#button-show:hover {
    outline: 2px solid white;
    cursor: pointer;
}

#wrapper {
    width:100%;
    background-color: #ccc;
}

#inner {
    width:65%;
    height:100%;
    margin:0px auto;
    padding:10px 0px;
}


/*Format box area */

#box-area {
    display:block;
    width:85%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.box {
    width: 30%;
    display: inline-block;
    margin:10px;
    position: relative;
}

.box img  {
    width:100%;
}

.box span {
    position: absolute;
    top:50%;
    left:50%;
    color:white;
    font-size:1.5em;
    transform:translate(-50%,-50%);
    z-index: 10000;
    font-family: 'Patua One', cursive;
}

.line {
    width:0px;
    height:0px;
    border:1px solid white;
    width:75%;
    position: absolute;
    top:42%;
    left:10%;
    transition: all 0.3s ease-in-out;
}

.down_line {
    width:0px;
    height:0px;
    border:1px solid white;
    width:75%;
    position: absolute;
    top:58%;
    left:10%;
    transition: all 0.3s ease-in-out;
}

.box:hover .line{
    border-color:#DBCCC2;
    transform: rotate(45deg) translateY(20px) translateX(20px);
}

.box:hover .down_line {
    border-color:#DBCCC2;
    transform: rotate(-45deg) translateY(-20px) translateX(20px);
}

.box:hover span {
    filter: none;
    
}

.box:hover .box-img{
    filter: brightness(75%);
}

/*Format box item*/

#item-wrapper {
    width:82%;
    margin-left: auto;
    margin-right: auto;
}

.item-box {
    display: inline-block;
}

.item-box img{
    width:300px;
    padding-left: 25px;
    padding-right: 25px;
}

.item-box p {
    margin-bottom: 10px;
}

.item-box span {
    padding-top:20px;
    font-weight: bold;
}

/*Format body table*/

#about {
    margin-top: 50px;
    width:90%;
    margin-right: auto;
    margin-left: auto;
}
/*Format lef column*/
#left-col {
    display: inline-block;
    width:50%;
    color:#303030;
    word-spacing: 2px;
}

.head {
    padding:2px;
    color:black;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 1.6em;
    color:#303030;
}

#left-col span{
    color:black;
    display: block;
    font-size: 1.5em;
    margin-top:10px;
    margin-bottom: 10px;
}

#left-col date {
    color:#ccc;
    display: block;
    font-size:1em;
    margin-bottom: 10px;
}

#left-col a {
    cursor: pointer;
}

/*Format right column*/

#right-col {
    display: inline-block;
    width:40%;
    color:#303030;
    vertical-align: top;
    margin-left: 20px;
    word-spacing: 2px;
}


/*Format box social*/

/*Format banner*/
.box-socical {
    padding: 20px;
}

.tag {
    color:#ccc;
}

.green {
    background-color: green;
    color:white;
}

.box-banner {
    
}

.left-corner {
    float:right;
    color:#E1E8ED;
/*    color: #1DA1F2;*/
}

.left-corner:after {
    content: ' '; 
    clear:both;
}

.nickname {
    margin-top:10px;
}

.nickname img{
    width:10%;
    height: 25px;
    width: 25px;
    vertical-align: top;
    margin-left: -5px;
    border-radius: 5px;
}

.nickname div {
    display: inline-block;
    width:89%;
}

.username {
    font-weight: bold;
}

.caption {
    margin-top: 10px;
    font-size:1.25em;
}


.photo {
    width:100%;
    margin-left: 25px;
}


.post-date {
    float:right;
}

.post-date:after {
    clear:both;
}

.comment {
    color:#E1E8ED;
}

.comment i {
    margin-right: 20px;
}

.box-socical:hover {
    background-color:#F4F9FB;
/*        #F4F9FB;*/
}

.box-socical:hover .left-corner{
    color: #1DA1F2;
}

.box-socical:hover .post-date {
    color:#ccc;
}

.fa-heart:hover{
    color: #E81C4F;
    cursor: pointer;
}

.fa-share:hover {
    color: #0084B4;
    cursor: pointer;
}


#main-body,#about,#sub-footer,footer {
   font-family: 'Pontano Sans', sans-serif;
}

#main-body h1 {
    margin:30px;
    margin-left: 50px;
}


/*Format sub footer*/

#sub-footer {
    background-color: #F9F7F3;
}

#sub-footer-wrapper {
    width:90%;
    margin: 0px auto;
}

.footer-box {
    display: inline-block;
}

#news {
    margin-top:40px;
    width:25%;
}

#news input {
/*    width:100%;*/
    margin-top: 10px;
/*    padding: 16px 20px 12px 20px;*/
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    border:1px solid #ccc;
    transition: all 0.6s ease-in-out;
/*    text-align: center;*/
}

#sign-up {
    width: 100%;
    background-color: #EE7639;
    border-radius: 4px;
    color:white;
    font-weight: bold;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px #888888;
    font-size:1rem;
    font-family: 'Just Another Hand','Pontano Sans', sans-serif;
}

#sign-up:hover {
    cursor: pointer;
    background-color: #ccc;
}

#email-type {
    width:96%;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
    content: ' ';
    transition: all 0.5s ease-in-out;
}

#email-type:focus {
    border-color:black;
}
/*Format health*/
#health {
    display: inline-block;
    width:45%;
    vertical-align: top;
    margin-top:40px;
    margin-left: 10px;
}

.list {
    margin-top: 10px;
    list-style-type: none;
}

.list li{
    margin-bottom: 10px;
}

/*Format learn*/ 

#learn {
    display: inline-block;
    width:25%;
    vertical-align: top;
    margin-top:40px;
    margin-left: 10px;
}

/*Format footer*/
footer {
    height: 100px;
    background-color: #EDE9DD;
    margin-bottom: 40px;
    position: relative;
}
#pay {
    display: inline-block;
    float: right;
    line-height: 100px;
}

footer a {
    display: inline-block;
    position: absolute;
    top:50%;
    left:5%;
    transform: translateY(-50%);
    background-color: #F6EDA8;
}

#pay:after {
    content: ' ';
    clear: both;
}

#pay img {
    width:45px;
    transform: translateY(25%);
}

#float-right {
    position: fixed;
    top:50%;
    right:-30px;
    transform: rotate(90deg);
    padding:14px;
    background-color: rgba(255,127,80,0.7);
    color:white;
    box-shadow: 5px 5px 10px black; 
    font-family: 'Pontano Sans', sans-serif;
}

#float-down-center {
    position: fixed;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    padding:14px;
    background-color: rgba(255,127,80,0.7);
    color:white;
    box-shadow: 2px 10px 10px 5px black;
    z-index: 2000;
    font-family: 'Pontano Sans', sans-serif;
}




/*Format collection.html*/

/*Format header*/ 

#collection-body-header {
    width: 85%;
    margin:20px auto;
    position: relative;
    vertical-align: middle;
    line-height: 40px;
    height:40px;
}

#collection-body-header p {
    display: inline-block;
    line-height: 100%;
}

#tag-filter {
    display: inline-block;
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
    margin-right: 40px;
    height:40px;
    width: 100px;
}


#title-product {
    font-family: "Just Another Hand";
    display: block;
    font-size: 100px;
    margin:0px 0px 40px 40px;
}

/*Format body*/
#collection-body {
    margin-bottom:75px;
    font-family: 'Pontano Sans', sans-serif;
    padding-top:120px;
}

.box-product {
    width:30%;
    display: inline-block;
}

#product-body-wrapper {
    width:90%;
    margin: 0px auto;
}

.collection-product-box {
    width:100%;
    height: 200px;
    position: relative;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    margin:10px;
    margin-bottom: 10px;
}

.collection-product-box:hover .quick-view{
    opacity: 1;
}

.collection-product-box img{
    width:80%;
    height: 100%;
    margin:0px auto;
    display: block;
}


.quick-view {
    opacity: 0;
    width:100%;
    height:40px;
    position: absolute;
    bottom: 0; 
    left:0;
    background-color: #827E7C;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #827E7C;
    color:white;
    font-size: 1.5em;
    font-family:"Just Another Hand";
}

.quick-view:hover {
    transition: all 0.6s ease-in-out;
    background-color: #E77336;
    cursor: pointer;
}

.label-price, .label-price-price {
    text-align: left;
    margin-left: 10px;
}

.label-price-price {
    font-weight: bold;
    margin-top: 10px;
}



/*Format cause.html*/

#cause {
    width:100%;
    padding-top:120px;
}

#cause-wrapper {
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

#cause-wrapper img {
    width: 100%;
}

.p1,.p2 ,.p3 {
    font-family: 'Pontano Sans', sans-serif;
    text-align: center;
    margin:20px;
}

.p1 {
    font-size:2em;
    font-family: 'Patua One', cursive;
}

.p2 {
    font-size:1.5em;
}

.p3 {
    font-size: 3em;
    color:#ccc;
    font-family: 'Shadows Into Light', cursive;
}

.for-child {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
/*    */
}

.for-child-box {
    width:23%;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}

.for-child-box img {
    width: 100%;
}



.for-child-box span {
    font-weight: bold;
    margin: 5px;
    font-size: 1.25rem;
}

/*Format malnutrition*/

#malnutrition {
    width: 90%;
    margin:0px auto;
    text-align: center;
    transform: translateX(-5%);
}

.malnutrition-box {
    width: 20%;
    text-align: center;
    display: inline-block;
    margin-left: 125px;
}

.malnutrition-image{
    display: inline-block;
    max-width: 58%;
    vertical-align: top;
}

.malnutrition-box span {
    font-weight: bold;
    
}

.box-title {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 40px;
}

#partners {
    width: 90%;
    margin:0px auto;
    text-align: center;
    transform: translateX(-5%);
    margin-bottom: 50px;
}

.partners-image {
    display: inline-block;
    max-width: 80%;
    vertical-align: top;
}


/*Format ourstory.html*/
#our-story-wrapper {
    width:80%;
    margin:0px auto;
    padding:120px;
}

#our-story-header img  {
    width:100%;
}

#our-story-header {
    text-align: center;
}


#paragraph {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    padding: 20px;
}

#our-story-body img{
    display: inline-block;
    width: 25%;
}

.p4 {
    font-size:2em;
    font-family: 'Patua One', cursive;
    margin-bottom: 10px;
}


#our-story-body p {
    line-height: 30px;
}

#our-story-contact {
    font-family: 'Open Sans', sans-serif;
}

#our-story-contac p {
    padding-bottom: 30px;
}

#our-story-contact-title {
    font-size: 2em;
    margin-bottom: 20px;
}